<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Sentir, Responsive admin and dashboard UI kits template">
		<meta name="keywords" content="admin,bootstrap,template,responsive admin,dashboard template,web apps template">
		<meta name="author" content="Ari Rusmanto, Isoh Design Studio, Warung Themes">
		<title>一卡通消费情况</title>


		<!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<link href="/static/css/style-responsive.css" rel="stylesheet">
		<link href="/static/css/table.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/js/DataTables-1.10.12/media/css/jquery.dataTables.css">
		<script src="/static/js/card.js"></script>
	</head>

	<body class="tooltips">
<!--华丽的分割线
============================================================================================
-->
		<!--成绩表格_张顺雨-->
		<div style="margin-left:30%; margin-top:150px;">
	<div class="comtent" style="width:600px">
		<div class="TableHead">
			<span class="title">
				一卡通消费情况
			</span>
		</div>
		<div class="tablepanel">
			<div class="tabelcomtent">
				<table class="display" id = "datatable" border=1 cellspacing="0px" style="border-collapse:collapse">
					<thead>
						<tr>
							<th width="198">日期</th>
							<th width="198">消费金额</th>
							<th width="198">消费次数</th>
							<th width="198">分数</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
		</div>


		<!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->
		{% module Nav() %}





		<!--
		===========================================================
		END PAGE
		===========================================================
		-->

		<!--
		===========================================================
		Placed at the end of the document so the pages load faster
		===========================================================
		-->
		<!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/plugins/retina/retina.min.js"></script>
		<script src="/static/plugins/nicescroll/jquery.nicescroll.js"></script>
		<script src="/static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/static/plugins/backstretch/jquery.backstretch.min.js"></script>
		<!-- C3 JS -->

		<!-- MAIN APPS JS -->
		<script src="/static/js/apps.js"></script>
		<script src="/static/js/demo-panel.js"></script>

		<!-- DataTables -->
		<script type="text/javascript" charset="utf8" src="/static/js/DataTables-1.10.12/media/js/jquery.dataTables.js"></script>
		<!--<script type="text/javascript" charset="utf8" src="assets/js/DataTables-1.10.12/media/js/dataTables.jqueryui.js"></script>-->
	</body>
</html>

