	<div class="wrapper">

		<!-- BEGIN TOP NAV -->
		<div class="top-navbar">
			<div class="top-navbar-inner">

				<!-- Begin Logo brand -->
				<div class="logo-brand">
					<a href="index.html">
						<img src="/static/img/sentir-logo-primary.png" alt="Sentir logo"></a>
				</div>
				<!-- /.logo-brand -->
				<!-- End Logo brand -->

				<div class="top-nav-content">

					<!-- Begin button sidebar left toggle -->
					<div class="btn-collapse-sidebar-left"> <i class="fa fa-bars"><-</i></div>
							<!-- /.btn-collapse-sidebar-left -->
							<!-- End button sidebar left toggle -->

							<!-- Begin button nav toggle -->
							<div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav"> <i class="fa fa-plus icon-plus"></i>
							</div>
							<!-- /.btn-collapse-sidebar-right -->
							<!-- End button nav toggle -->

							<!-- Begin user session nav -->
							<ul class="nav-user navbar-right">
								<li class="dropdown">
									<a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
										<img src="/static/img/avatar-1.jpg" class="avatar img-circle" alt="Avatar"></a>
									<ul class="dropdown-menu square primary margin-list-rounded with-triangle">
										<li>
											<a href="#fakelink">编辑</a>
										</li>

										<li>
											<a href="#fakelink">编辑</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="lock-screen.html">编辑</a>
										</li>
										<li>
											<a href="login.html">编辑</a>
										</li>
									</ul>
								</li>
							</ul>
							<!-- End user session nav -->

							<!-- Begin Collapse menu nav -->
							
						<!-- /.navbar-collapse -->
						<!-- End Collapse menu nav -->
					</div>
					<!-- /.top-nav-content -->
				</div>
				<!-- /.top-navbar-inner -->
			</div>
			<!-- /.top-navbar -->
			<!-- END TOP NAV -->

			<!-- BEGIN SIDEBAR LEFT -->
			<div class="sidebar-left sidebar-nicescroller">
				<ul class="sidebar-menu">

					<li>
						<a href="#fakelink">
							<i class="fa fa-folder-open icon-sidebar"></i>
							<i class="fa fa-angle-right chevron-icon-sidebar"></i>
							管理员
						</a>
						<ul class="submenu">
							<li>
								<a href="/time">时间-事件线</a>
							</li>
							<li>
								<a href="/grade">成绩情况</a>
							</li>
							<li>
								<a href="/sleep">夜不归宿情况</a>
							</li>
							<li>
								<a href="/card">一卡通消费情况</a>
							</li>
							<li>
								<a href="/healthy">健康情况</a>
							</li>
							<li>
								<a href="/family">家庭情况</a>
							</li>
							<li>
								<a href="/test">性格测试情况</a>
							</li>

						</ul>
					</li>

				</ul>
			</div>
			<!-- /.sidebar-left -->
			<!-- END SIDEBAR LEFT -->

			<!-- BEGIN SIDEBAR RIGHT HEADING -->
			<div class="sidebar-right-heading">
				<ul class="nav nav-tabs square nav-justified">
					<li class="active">
						<a href="#online-user-sidebar" data-toggle="tab">
							<i class="fa fa-comments"></i>
						</a>
					</li>
					<li>
						<a href="#notification-sidebar" data-toggle="tab">
							<i class="fa fa-bell"></i>
						</a>
					</li>
					<li>
						<a href="#task-sidebar" data-toggle="tab">
							<i class="fa fa-tasks"></i>
						</a>
					</li>
					<li>
						<a href="#setting-sidebar" data-toggle="tab">
							<i class="fa fa-cogs"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- /.sidebar-right-heading -->
			<!-- END SIDEBAR RIGHT HEADING -->

			
		</div>
		<!-- /.wrapper -->